.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #d9d9d938;
}

.imageContent {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.editImage {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.boarder {

  width: 180px;
  height: 130px;
  background-color: #d9d9d938;
}

.vertical {

  width: 130px;
  height: 180px;
  background-color: #d9d9d938;
}


.life_style1,
.life-image1 {
  top: 10px;
  left: 280px;
  gap: 10px;
  transform: rotate(3.72deg);
}

.life_style2,
.life-image2 {
  top: 150px;
  left: 0px;
  gap: 10px;
  transform: rotate(-5deg);
}

.work1,
.work-image1 {
  top: 10px;
  left: 450px;
  gap: 10px;
  transform: rotate(3deg);
}

.work2,
.work-image2 {
  top: 20px;
  left: 900px;
  gap: 10px;
  transform: rotate(8.34deg);
}

.fun1,
.fun-image1 {
  top: 195px;
  left: 200px;
  gap: 10px;
  transform: rotate(9.66deg);
}

.fun2,
.fun-image2 {
  top: 290px;
  left: 0px;
  transform: rotate(-9.66deg);
}

.will1,
.will-image1 {
  top: 155px;
  left: 710px;
  transform: rotate(-2deg);
}

.will2,
.will-image2 {
  top: 340px;
  left: 950px;
  transform: rotate(-6deg);
}

.health1,
.health-image1 {
  top: 290px;
  left: 380px;
  transform: rotate(-2deg);
}

.health2,
.health-image2 {
  top: 350px;
  left: 710px;
  transform: rotate(3.9deg);
}
